body {
  font-family: "Noto Sans KR", sans-serif !important;
}
button,
p,
ul,
li,
pre,
h5,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
a {
  text-decoration: none;
}
.wrap {
  min-height: 1000px;
  position: relative;
}

/*최상단 미니바*/
.miniMenuBar {
  width: 100%;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.miniMenu {
  height: 40px;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

.miniMenu .leftMenu {
  display: flex;
  align-items: center;
  height: 100%;
}
.miniMenu .leftMenu img {
  width: 16px;
  margin-right: 5px;
}

.miniMenu p {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 0 15px;
  line-height: 1.4;
  display: flex;
}

.miniMenu .rightMenu div {
  display: flex;
}

/*헤더 스타일*/
header {
  border-bottom: 1px solid rgb(238, 238, 238);
}

header .headerContainer {
  width: 1024px;
  margin: auto;
}

.headerContent {
  display: flex;
  align-items: center;
  padding-top: 35px;
  height: 40px;
}

.headerContent .logo {
  margin-right: 100px;
  width: 136px;
  cursor: pointer;
}

.headerContent .logo .img {
  width: 100%;
}

.headerContent .searchBar {
  width: 460px;
  margin-left: 100px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 2px solid rgb(247, 47, 51);
}

.headerContent .searchBar .searchBarCon {
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.headerContent .searchBar input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px;
  line-height: 1.15;
  font-family: "Noto Sans KR", sans-serif;
}

.btnClear {
  width: 10px;
  padding: 0px 10px;
}

.btnClear img {
  width: 100%;
  height: 12px;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.searchBtn {
  width: 16px;
  background-color: #00000000;
  cursor: pointer;
}
.searchBtn img {
  width: 100%;
}
.myMenu {
  width: 328px;
  display: flex;
  justify-content: flex-end;
}
.myMenu p {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
  color: #212121;
}
.myMenu p:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  border-right: 1px solid rgb(204, 204, 204);
  position: absolute;
  top: 8px;
  right: -15px;
}

.myMenu img {
  width: 23px;
  margin-right: 5px;
}

.catagory {
  height: 70px;
  display: flex;
  align-items: center;
}
.catagory .menu {
  margin-right: 20px;
}
.catagory .menu img {
  width: 20px;
}
.catagory .myStore {
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  margin: 10px;
}

.catagory .myStore img {
  width: 6px;
}

/*푸터*/

.buttomMenu {
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
}
.buttomMenu ul {
  display: flex;
  align-items: center;
  width: 1024px;
  height: 65px;
  margin: auto;
}
.buttomMenu ul li {
  font-size: 13px;
  padding: 0 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.buttomMenu ul li:not(:last-child)::after {
  content: "";
  border-right: 1px solid rgb(204, 204, 204);
  height: 14px;
  position: absolute;
  right: 0;
}
.buttomMenu ul li:first-child {
  padding-left: 0px;
}

.buttomMenu ul li p {
  color: #333;
}

footer .info {
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: auto;
  padding: 40px 0px 45px;
}
footer .info .leftBox .businessInfo {
  width: 512px;
}
footer .info .leftBox .businessInfo h5,
.customBox h5 {
  color: #5c5c5c;
  font-weight: 500;
  font-size: 14px;
}

footer .info .leftBox .businessInfo p,
footer .info .leftBox .branch p,
.customBox .Paragraph {
  margin-top: 0.5rem;
  line-height: 2;
  font-size: 12.5px;
  color: rgb(127, 127, 127);
  font-family: "Noto Sans KR", sans-serif;
}
footer .info .leftBox .branch {
  margin-top: 16px;
}
footer .info .leftBox .branch span {
  font-weight: 500;
  color: #5c5c5c;
}

footer .customBox .PhoneNumber {
  font-size: 25px;
  color: #666;
  line-height: 1;
}
footer .customBox div p {
  font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  margin-top: 40px;
}
footer .customBox p span {
  margin-right: 10px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.prdListContainer {
  box-sizing: border-box;
}
.qrContainer {
  width: 100%;
}
.prdListContainer .todayRec {
  max-width: 1024px;
  display: grid;
  justify-content: left;
  position: relative;
  margin: auto;
}
.prdListContainer .todayRec .title {
  font-size: 24px;
  margin: 50px 0px 20px 0px;
  color: #212121;
}

.qrContainer .bunjangImg {
  display: flex;
  align-items: center;
  width: 1023px;
  height: 300px;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}
.qrContainer .bunjangQR {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1023px;
  height: auto;
  position: relative;
  margin: auto;
}

.prdContent {
  max-width: 1024px;
  display: grid;
  margin: 0px 260px 0px 260px;
  grid-template-columns: repeat(5, 194px);
  justify-content: space-between;
  position: relative;
  margin: auto;
}
.item {
  border: 1px solid rgb(238, 238, 238);
  margin-bottom: 11px;
}
.item .thumb {
  width: 100%;
  height: 194px;
}

.item .thumb img {
  width: 100%;
}

.item .prdInfo {
  padding: 15px 10px;
  height: 50px;
}

.item .prdInfo .prdTitle {
  color: #212121;
  font-size: 14px;
  width: 100%;
  padding-bottom: 20px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item .prdInfo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item .prdInfo div .time {
  color: rgb(136, 136, 136);
  font-size: 12px;
}
.item .prdInfo .price {
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
}
.item .prdInfo .price span {
  font-size: 13px;
  margin-right: 3px;
}

.item .prdInfo .price .time {
  float: right;
  opacity: 0.5;
}
